<style>
     .header-search{
           /* height: 7vw; */
           margin-bottom: 3px!important;
       } 
</style>
<div class="header-search input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text dripicons-search" id="basic-addon1"></span>
    </div>
    <input type="text" class="form-control" placeholder="请输入查找内容" aria-label="请输入查找内容"
        aria-describedby="basic-addon1">
</div>